.container
{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 3px;
	text-align: center;
}

.container div
{
	background-color: aqua;
	padding: 20px;
}

.container > div:nth-child(even) {
	background-color: #ddd;
}


